In [1]:
import os
import shutil
import pandas as pd

In [2]:
categories = pd.read_csv("data/cifar-10-python/cifar-10/trainLabels.csv")

In [3]:
categories

          id       label
0          1        frog
1          2       truck
2          3       truck
3          4        deer
4          5  automobile
...      ...         ...
49995  49996        bird
49996  49997        frog
49997  49998       truck
49998  49999  automobile
49999  50000  automobile

[50000 rows x 2 columns]

In [4]:
folders = categories["label"].unique()

In [5]:
filesdic = pd.Series(categories.label.values,index=categories.id).to_dict()

In [17]:
filesdic[33153]

'bird'

In [7]:
for item in folders:
    if not os.path.exists(f'data/cifar-10-python/cifar-10/train2/{item}'):
        os.makedirs(f'data/cifar-10-python/cifar-10/train2/{item}')

In [22]:
files =[]
for filename in os.listdir("data/cifar-10-python/cifar-10/train/"):
    name = int(filename.split(".")[0])
    folder = filesdic[name]
    shutil.move(f"data/cifar-10-python/cifar-10/train/{filename}", f"data/cifar-10-python/cifar-10/train2/{folder}/{filename}")